@import '../../StyleConfig.scss';

.bottomView-Controls {
    padding: $gutter/2 $gutter/2 0;
    display: flex;

    &__val {
        margin-right: $gutter;
        display: flex;
        align-items: center;
    }
}
