@import '../../StyleConfig.scss';

.settings-section {
    margin-top: $gutter;

    &__item{
        margin-bottom: $gutter/2;
    }

}

.ui.button {
    padding: 5px 10px;
}

.ui.modal>.content {
    padding-top: 0;
}