@import '../../StyleConfig.scss';


.courseTablePeriod {

    padding-bottom: $gutter/2;
    vertical-align: top;


    &__course {

        background-color: $color-neutral;
        border-color: $color-font;
        border-width: 0.5px;

        padding: 7px;
        font-size: 0.75rem;
        margin: 0 3px 3px 0;
        border-style: solid;
        border-radius: 5px;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;  
        
        cursor: pointer;

        &--Red {
            background-color: $color-red;
            //border-color: $color-red;
        }
        &--Yellow {
            background-color: $color-yellow;
            //border-color: $color-yellow;
            
        }
        &--Gray {
            //background-color: $color-button;
        }
    }
}

.focus {
    border: 1px solid black;
}

.noFocus {
    opacity: 0.3;
}
