@import '../../StyleConfig.scss';

.Course-Details {
    height: 100%;
    width: 100%;

    display: flex;

    &__column {
        width: 100%;

        padding-left: $gutter/3;

        display: flex;
        flex-direction: column;

        &--topRow {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &--bottomRow {
            display: flex;
            flex-direction: row;

            padding: $gutter 0 $gutter/2 0;
            flex: 1;
            overflow: hidden;
        }
    }
}