@import '../../StyleConfig.scss';

.topview-Controls {
    padding: $gutter/2 $gutter 0;
    display: flex;

    &__val {
        margin-right: $gutter;
        display: flex;
        align-items: center;
    }

    &__last {
        margin-left: auto;
        margin-right: $gutter/3;
    }
}
