@import '../../StyleConfig.scss';

.BottomView {
    height: 100%;


    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
<<<<<<< HEAD

    overflow: auto;
=======
>>>>>>> 45c14bbbb7e50e1f69a68c00fab39d635e2ad191
}